# How to install any library in python?

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (1.20.1)

# How to import any library in python

In [4]:
import numpy as np

# How to create numpy array

In [5]:
a = np.array([1,2,3])
a

array([1, 2, 3])

In [6]:
a = np.array([1,2,3])
print(a)

[1 2 3]

In [7]:
a[0]

1

In [9]:
a[2]

3

In [11]:
print(a[1])

2

# How to create one dimensional array using numpy

# VECTOR:-

In [12]:
a=[1,2,3,4,5]
myarr = np.array(a)
myarr

array([1, 2, 3, 4, 5])

In [13]:
myarr = np.array([1,3,4,5,5])
myarr

array([1, 3, 4, 5, 5])

# make user input to create a vector

In [19]:
a=[]
n=int(input("Enter size of the array = "))
for i in range(n):
    val=int(input("Enter value"))
    a.append(val)
myarr=np.array(a)
myarr

Enter size of the array = 5
Enter value22
Enter value11
Enter value333
Enter value33333
Enter value33333333

array([      22,       11,      333,    33333, 33333333])

# How to create two dimensional array using Numpy

# MATRIX:-

In [34]:
a =[[1,2,3],[4,5,6],[7,8,9]]
arr= np.array(a)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

# Dimension of the array

In [25]:
print("Dimension of array: ",arr.ndim)

Dimension of array:  2

# Shape of the array

In [26]:
print("shape of the array: ",arr.shape)

shape of the array:  (3, 3)

# NUMPY FUNCTION

zeros:-

This function create an array (either one dimension or multi dimension) and fill all the values with zeros(0).

In [5]:
import numpy as np
arr=np.zeros(5)
arr

array([0., 0., 0., 0., 0.])

In [7]:
arr1 = np.zeros((5,5))
arr1

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

ones:-

This function create an array (either one dimension or multi dimension) and fill all the values with ones (1).

In [10]:
arr=np.ones(4)
arr

array([1., 1., 1., 1.])

In [12]:
arr1 = np.ones((2,6))
arr1

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

eye:-

This function create an array with all the diagonal elements as 1 and rest as 0 (in a square matrix). In case of a non-square matrix the values are still 1 for diagonal (upto which it can draw diagonal) and rest are zeros.

In [13]:
arr=np.eye(3)
arr

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [14]:
arr= np.eye(2,7)
arr

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.]])

In [16]:
arr=np.eye(4,4)
arr

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

diag:-

This function create two dimension array with all the diagonal element as the given value and rest as 0 (in a square matrix).

In [18]:
arr=np.diag([1,4,6,4,6,7])
arr

array([[1, 0, 0, 0, 0, 0],
       [0, 4, 0, 0, 0, 0],
       [0, 0, 6, 0, 0, 0],
       [0, 0, 0, 4, 0, 0],
       [0, 0, 0, 0, 6, 0],
       [0, 0, 0, 0, 0, 7]])

randint:-

this function is used to generate a random number between a given range.

syntax:-
    
    rand(min,max,total_values)

In [27]:
arr=np.random.randint(0,10,5)
arr

array([7, 3, 5, 3, 7])

rand:-

This function is used to generate a random values between 0 to 1.

syntan:-
    
    rand(number_of_values)

In [29]:
arr=np.random.rand(4)
arr

array([0.56157109, 0.27271618, 0.33950378, 0.3468963 ])

In [30]:
arr=np.random.rand(4,3)
arr

array([[0.04123996, 0.61015387, 0.99906165],
       [0.28442592, 0.94807953, 0.35607113],
       [0.113531  , 0.34332108, 0.02004765],
       [0.1509655 , 0.84542793, 0.16430778]])

randn:-

This function is used to generate a random values closed to 0 (zero). This may return may positive and negative as well.

syntax:-
    
    randn(numbers of values)

In [32]:
arr = np.random.randn(3)
arr

array([ 1.14412259, -0.4396674 , -0.56177589])

# INDEXING IN 1 DIMENSIONAL ARRAY:-

In [38]:
import numpy as np
a=[]
arr = int(input("How many number?"))
for i in range(arr):
    val = int(input("enter number"))
    a.append(val)
    
arr1 = np.array(a)
print(arr1)
for i in range(arr1.size):
    print(arr1[i])
    
sum=0
for i in range (arr1.size):
    sum = sum + arr1[i]

print("Sum of the array element = ",sum)

How many number?5
enter number32
enter number432
enter number433
enter number234
enter number23
[ 32 432 433 234  23]
32
432
433
234
23
Sum of the array element =  1154

# SLICING IN 1 DIMENSIONAL ARRAY

Slicing means taking element from one given index to another given index.

We pass slice instead of index like this: [start:end].

We can also define the step, like this: [start:end:step].

If we don't pass start its considered 0

If we don't pass end its considered length of array in that dimension

If we don't pass step its considered 1

In [40]:
arr = np.array([1,4,6,423,54,435,32])
arr[3:5]

array([423,  54])

In [41]:
arr = np.array([1,4,6,423,54,435,32])
arr[3:]

array([423,  54, 435,  32])

In [42]:
arr = np.array([1,4,6,423,54,435,32])
arr[:5]

array([  1,   4,   6, 423,  54])

In [43]:
arr = np.array([1,4,6,423,54,435,32])
arr[-3:-1]

array([ 54, 435])

Return every other element from index 1 to index 5:

In [44]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5:2])

[2 4]

Return every other element from the entire array:

In [45]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::2])

[1 3 5 7]

In [4]:
import numpy as np
a=[]
var=int(input("Enter size: "))
for i in range(var):
    var1= int(input("Enter Number: "))
    a.append(var1)
arr=np.array(a)
print(arr)
for i in range(arr.size):
    print(arr[i])
arr1=arr[2:5]
print(arr1)

Enter size: 5
Enter Number: 463
Enter Number: 56
Enter Number: 65756
Enter Number: 654
Enter Number: 09634
[  463    56 65756   654  9634]
463
56
65756
654
9634
[65756   654  9634]

# RESHAPING ARRAY:-

Reshaping means changing the shape of an array.

The shape of an array is the number of elements in each dimension.

By reshaping we can add or remove dimensions or change number of elements in each dimension.

# Reshape from 1 dimension to 2 dimension

syntax:-
    
    reshape(rows,column)

In [2]:
import numpy as np
arr = np.array([1,3,5,6,7,4,6,7,5,3,6,8])
arr.reshape(4,3)

array([[1, 3, 5],
       [6, 7, 4],
       [6, 7, 5],
       [3, 6, 8]])

In [4]:
arr = np.random.randint(1,50,16)
print(arr)
arr.reshape(4,4)

[43  2  3 12  9 41 40 34 19 19 21  1 18 23 22 12]

array([[43,  2,  3, 12],
       [ 9, 41, 40, 34],
       [19, 19, 21,  1],
       [18, 23, 22, 12]])

In [6]:
arr.reshape(8,2)

array([[43,  2],
       [ 3, 12],
       [ 9, 41],
       [40, 34],
       [19, 19],
       [21,  1],
       [18, 23],
       [22, 12]])

In [8]:
arr.reshape(2,8)

array([[43,  2,  3, 12,  9, 41, 40, 34],
       [19, 19, 21,  1, 18, 23, 22, 12]])

convert two dimension to one dimension

In [13]:
arr1 = np.random.randint(1,30,8)
print(arr1)
arr1.reshape(2,4)
arr1.reshape(8)

[ 5 17 23 15 28 14 13  7]

array([ 5, 17, 23, 15, 28, 14, 13,  7])

Convert 3 dimension to one dimension

In [15]:
arr2 = np.random.randint(1,40,20)
arr2.reshape(2,5,2)
arr2

array([ 8, 24,  3, 36,  5,  3,  3, 16,  8, 22, 32, 21, 13,  2, 16, 17, 11,
       24, 12, 20])

# SEED FUNCTION IN NUMPY

we known that randint() generate randoms numbers. Everytime we run the program new set of random number generate. but what if we want to fix the generation of this random numbers. In this case we use seed function, this generates fix set of random number.

syntax:-
    
    function Name      seed_value the pseduo random number generator
    np.random.seed(seed_value)

In [19]:
np.random.seed(2)
arr=np.random.randint(1,100,20)
arr

array([41, 16, 73, 23, 44, 83, 76,  8, 35, 50, 96, 76, 86, 48, 64, 32, 91,
       21, 38, 40])

# INDEXING OF 2 DIMENSIONAL ARRAY

Indexing/Slicing in 2 dimensional array is using double bracket notation.

In [1]:
matrix=[]
row = int(input("Enter number of rows: "))
col = int(input("Enter number of colums: "))

for i in range(row):
    a=[]
    for j in range(col):
        val=int(input("Enter Numbers: "))
        a.append(val)
        matrix.append(a)
        arr = np.array(matrix)        
        for i in range(row):
            for j in range(col):
                print(arr[i][j],end="     ")
                print()
            print(type(arr))

Enter number of rows: 2
Enter number of colums: 2
Enter Numbers: 2

NameError: name 'np' is not defined

# VIEW AND COPY

The main difference between a copy and a view of an array is that the copy is a new array, and the view is just a view of the original array.

The copy owns the data and any changes made to the copy will not affect original array, and any changes made to the original array will not affect the copy.

The view does not own the data and any changes made to the view will affect the original array, and any changes made to the original array will affect the view.

# View:-

In [6]:
import numpy as np
a = np.array([10,20,43,45,65,76,754,54,76,44])
b=a[3:7]
b[:]=12
a

array([10, 20, 43, 12, 12, 12, 12, 54, 76, 44])

# Copy:-

In [12]:
arr=np.array([32,43,54,54,76,67,87,78,98,89])
arrb = arr[1:6].copy()
arrb[:]=11
print(arrb)
print(arr)

[11 11 11 11 11]
[32 43 54 54 76 67 87 78 98 89]

# Condition Selection

In [16]:
a=np.arange(1,20)
print(a)
b= a>8
print(b)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[False False False False False False False False  True  True  True  True
  True  True  True  True  True  True  True]

In [21]:
a = np.array([1,6,2,7,3,8,4,9,5,10])
print(a)
b=[a>5]
print(b)

[ 1  6  2  7  3  8  4  9  5 10]
[array([False,  True, False,  True, False,  True, False,  True, False,
        True])]

In [26]:
a=np.array([1,324,534,5,5646,56,97,90,78,87])
a
b=[a%2]
print(b)

[array([1, 0, 0, 1, 0, 0, 1, 0, 0, 1], dtype=int32)]

In [35]:
a=np.array([1,324,534,5,5646,56,97,90,78,87])
a[a>122]

array([ 324,  534, 5646])

# VARIOUS OPERATION ON NUMPY ARRRAY

Mathematical Operation on Numpy Array:-

In [6]:
import numpy as np
arr = np.arange(1,5)
print(arr)
print(arr*2)
print(arr+2)
print(arr**2)

[1 2 3 4]
[2 4 6 8]
[3 4 5 6]
[ 1  4  9 16]

In [10]:
arr1 = np.arange(1,5)
arr2 = np.arange(5,9)
print(arr1+arr2)

[ 6  8 10 12]

In [12]:
print(arr1*arr2)

[ 5 12 21 32]

In [17]:
a=np.array([1,2,3,4]).reshape(2,2)
b=np.array([5,6,7,8]).reshape(2,2)
b+a

array([[ 6,  8],
       [10, 12]])

In [18]:
b-a

array([[4, 4],
       [4, 4]])

In [20]:
b*a

array([[ 5, 12],
       [21, 32]])

In [21]:
b**a

array([[   5,   36],
       [ 343, 4096]], dtype=int32)

In [22]:
a/b

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

In [23]:
a//b

array([[0, 0],
       [0, 0]], dtype=int32)

In [24]:
b/a

array([[5.        , 3.        ],
       [2.33333333, 2.        ]])

In [25]:
b//a

array([[5, 3],
       [2, 2]], dtype=int32)

In [30]:
a.dot(b)

array([[19, 22],
       [43, 50]])

# SOME MORE IMPORTANT FUNCTION

MIN:-      Return the min number
    
MAX:-      Return the max number
    
ARGMIN:- Position of min number

ARGMAX:- Position of max number
    
SQRT:-      Square root of every number
    
SIN:-         Sin value of evey number
    
COS:-         Cos value of every number

TAN:-         tan value of every number

SUM:-         sum of the array/Matrix

CUMSUM:-  returns the cumulative sum of the elements along the given axis.

SHUFFLE:-  This function only shuffles the array along the first axis of a multi-dimensional array.

UNIQUE:-    Display unique number of the array. OR  doesnot repeat the value in array.

HSTACK:-    Horizontally arrange the matrix.

VSTACK:-     Vertically arrange the matrix.

In [31]:
arr = np.array([2,43,54,65,7,4,74,7,5,2,47,1,4])
np.min(arr)

1

In [32]:
np.max(arr)

74

In [33]:
np.argmin(arr)

11

In [34]:
np.argmax(arr)

6

In [35]:
np.sqrt(arr)

array([1.41421356, 6.55743852, 7.34846923, 8.06225775, 2.64575131,
       2.        , 8.60232527, 2.64575131, 2.23606798, 1.41421356,
       6.8556546 , 1.        , 2.        ])

In [39]:
np.sin(arr)

array([ 0.90929743, -0.83177474, -0.55878905,  0.82682868,  0.6569866 ,
       -0.7568025 , -0.98514626,  0.6569866 , -0.95892427,  0.90929743,
        0.12357312,  0.84147098, -0.7568025 ])

In [37]:
np.cos(arr)

array([-0.41614684,  0.5551133 , -0.82930983, -0.56245385,  0.75390225,
       -0.65364362,  0.17171734,  0.75390225,  0.28366219, -0.41614684,
       -0.99233547,  0.54030231, -0.65364362])

In [38]:
np.tan(arr)

array([-2.18503986, -1.49838734,  0.6738001 , -1.47003826,  0.87144798,
        1.15782128, -5.73702254,  0.87144798, -3.38051501, -2.18503986,
       -0.12452757,  1.55740772,  1.15782128])

# CREATING 2D ARRAY WITH FIXED DATATYPE

In [67]:
np.random.seed(122)
matrix = np.random.randint(1,211,9).reshape(3,3)
matrix

array([[155, 139, 183],
       [ 77,  63,  17],
       [109,  16, 188]])

In [68]:
np.sum(matrix)

947

In [69]:
matrix.sum()

947

In [70]:
np.min(matrix)

16

In [71]:
np.max(matrix)

188

In [54]:
np.argmax(matrix)

8

In [64]:
np.argmin(matrix)

7

In [72]:
matrix

array([[155, 139, 183],
       [ 77,  63,  17],
       [109,  16, 188]])

In [73]:
np.min(matrix, axis=0)

array([77, 16, 17])

In [74]:
np.sum(matrix, axis=0)

array([341, 218, 388])

In [76]:
np.sum(matrix, axis=1)

array([477, 157, 313])

In [78]:
np.cumsum(matrix)

array([155, 294, 477, 554, 617, 634, 743, 759, 947], dtype=int32)

In [83]:
np.random.shuffle(matrix)
matrix

array([[109,  16, 188],
       [ 77,  63,  17],
       [155, 139, 183]])

In [85]:
np.unique(matrix)

array([ 16,  17,  63,  77, 109, 139, 155, 183, 188])

In [87]:
np.unique(matrix).size

9

In [89]:
np.random.seed(1)
arr = np.random.randint(1,10,10)
arr

array([6, 9, 6, 1, 1, 2, 8, 7, 3, 5])

In [96]:
np.unique(arr)

array([1, 2, 3, 5, 6, 7, 8, 9])

In [97]:
np.unique(arr*2)

array([ 2,  4,  6, 10, 12, 14, 16, 18])

In [98]:
np.unique(arr).size

8

In [104]:
np.random.shuffle(arr)
arr

array([2, 6, 5, 3, 9, 1, 8, 1, 7, 6])

In [106]:
np.unique(arr, return_index=True, return_counts=True)

(array([1, 2, 3, 5, 6, 7, 8, 9]),
 array([5, 0, 3, 2, 1, 8, 6, 4], dtype=int64),
 array([2, 1, 1, 1, 2, 1, 1, 1], dtype=int64))

# STACKING

In [109]:
arr1 = np.array([1,3,4,5])
arr2 = np.array([2,6,7,8])

In [110]:
arr1

array([1, 3, 4, 5])

In [111]:
arr2

array([2, 6, 7, 8])

In [113]:
np.hstack((arr1,arr2))

array([1, 3, 4, 5, 2, 6, 7, 8])

In [114]:
np.vstack((arr1,arr2))

array([[1, 3, 4, 5],
       [2, 6, 7, 8]])

# PRACTICE QUESTION

Q) Write the statement to import the numpy

In [5]:
import numpy as np

Q) Create an array using numpy?

In [7]:
arr = np.array([1,3,4,5,67,6])
arr

array([ 1,  3,  4,  5, 67,  6])

Q) Create an array of 10 random integers?

In [9]:
arr = np.random.randint(1,20,10)
arr

array([ 4, 13,  3, 18, 16, 17, 15,  4,  6, 10])

Q) Create an array of element from 10-20?

In [19]:
arr = np.arange(10,21)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

Q) Create an one dimensional array and converted into 3*3 dimensional array?

In [14]:
np.random.seed(3)
arr = np.random.randint(1,55,9)
print(arr)
arr.reshape(3,3)

[43 25  4  9  1 22 20 11 44]

array([[43, 25,  4],
       [ 9,  1, 22],
       [20, 11, 44]])

Q) Create an array and then convert all even number with 0?

In [21]:
np.random.seed(3)
arr1 = np.random.randint(1,1000,20)
print(arr1)

[875 665 250 644 953 969 257 790 660 715 876 682 651 918 120 423 481 661
 941 606]

Q)Create an array of all the even integers from 30 to 70

In [18]:
arr = np.arange(30,71,2)
print("Array of all the even integers from 30 to 70")
print(arr)

Array of all the even integers from 30 to 70
[30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70]

Q) Create an array of size 3*3 but all the element should between 0 or 1.

In [29]:
ae = np.random.rand(9)
print(ae)
ae.reshape(3,3)

[0.70768662 0.74674622 0.69109292 0.68918041 0.37360012 0.6681348
 0.33984866 0.57279387 0.32580716]

array([[0.70768662, 0.74674622, 0.69109292],
       [0.68918041, 0.37360012, 0.6681348 ],
       [0.33984866, 0.57279387, 0.32580716]])

In [34]:
ammad= np.array([(1,2,3,4),(5,6,7,8),(9,10,11,12),(13,14,15,16)])
print(ammad)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

array([], shape=(0, 4), dtype=int32)